Tools/JustAssembly.WebServiceProxy/Service References/Service/UpdatesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Banner" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Banner" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBannerConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BannerConfig" nillable="true" type="tns:BannerConfig" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBannerConfig" nillable="true" type="tns:ArrayOfBannerConfig" />
  <xs:complexType name="BannerConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayPriority" type="xs:int" />
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HolderId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BannerConfig" nillable="true" type="tns:BannerConfig" />
</xs:schema>