Tools/JustAssembly.WebServiceProxy/Service References/Service/UpdatesService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfToolVersion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToolVersion" nillable="true" type="tns:ToolVersion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToolVersion" nillable="true" type="tns:ArrayOfToolVersion" />
  <xs:complexType name="ToolVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="BugFixes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsInternalBuild" type="xs:boolean" />
      <xs:element minOccurs="0" name="NewFeatures" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToolVersionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToolVersion" nillable="true" type="tns:ToolVersion" />
</xs:schema>