Tools/JustAssembly.WebServiceProxy/Service References/Service/UpdatesService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://justdecompile.telerik.com/AutoUpdatesService/UpdatesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities" />
  <xs:import schemaLocation="http://justdecompile.telerik.com/AutoUpdatesService/UpdatesService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://justdecompile.telerik.com/AutoUpdatesService/UpdatesService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Data.Entities" />
  <xs:import schemaLocation="http://justdecompile.telerik.com/AutoUpdatesService/UpdatesService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Banner" />
  <xs:element name="CheckForLatestVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForLatestVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckForLatestVersionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForLatestOrInternalVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="includeInternalBuilds" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForLatestOrInternalVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckForLatestOrInternalVersionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestToolVersions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestToolVersionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetLatestToolVersionsResult" nillable="true" type="q1:ArrayOfToolVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestOrInternalToolVersions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="includeInternalBuilds" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestOrInternalToolVersionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="GetLatestOrInternalToolVersionsResult" nillable="true" type="q2:ArrayOfToolVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestVersionUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="credentials" nillable="true" type="q3:UserCredentials" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="canAccessAmazon" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestVersionUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetLatestVersionUrlResult" nillable="true" type="q4:VersionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailablePlugins">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailablePluginsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAvailablePluginsResult" nillable="true" type="q5:ArrayOfPluginConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestCampaign">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestCampaignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Data.Entities" minOccurs="0" name="GetLatestCampaignResult" nillable="true" type="q6:BannerEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBannersConfigsPerVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBannersConfigsPerVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Banner" minOccurs="0" name="GetBannersConfigsPerVersionResult" nillable="true" type="q7:ArrayOfBannerConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBannerBytesByVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bannerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBannerBytesByVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBannerBytesByVersionResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShouldShowDefaultBanners">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShouldShowDefaultBannersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShouldShowDefaultBannersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>